<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body>
    <!-- Bigger Screen View -->
    <%- include('../partials/tablet-up.ejs') %>
    <!-- END Bigger Screen View -->

    <!-- Mobile View -->
    <section>
      <div class="is-hidden-tablet">
        <!-- Nav -->
        <%- include('../partials/nav.ejs') %>
        <!-- END Nav -->
        <div
          class="hero has-background-grey-light is-fullheight has-text-centered"
        >
          <div class="hero-body p-2">
            <div class="container">
              <!-- Brand -->
              <%- include('../partials/brand.ejs') %>
              <!-- END Brand -->
              <!-- Menu Akses -->
              <div class="box has-background-grey-lighter">
                <p class="title is-5">Menu Akses</p>
                <div class="columns is-vcentered">
                  <% for( let i = 0; i < 3; i++ ) { %>
                  <div class="column">
                    <a href="#" class="box">
                      <p class="subtitle is-4">
                        <span class="material-icons-round">adb</span>
                      </p>
                      <p class="title is-5">subJudul <%= i %></p>
                    </a>
                  </div>
                  <% } %>
                </div>
              </div>
              <!-- END Menu Akses -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Mobile View -->
  </body>
</html>
